<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!--SANDBOX API&SECRET-->
    <add key="SANDBOXAPPID" value="1633021b1a965553597a8567b76660bb55822"/>
    <add key="SANDBOXSECRET" value="327184a3d0b35bf8027069ee724e6b4b5"/>

    <!--LIVEBOX API&SECRET-->
    <add key="LIVEBOXAPPID" value="a461809838a257a041095897480b69993402"/>
    <add key="LIVEBOXSECRET" value="e7b68eeea91e7ea6c571785c6c27b918"/>

    <!--BASE URL-->
    <add key="SANDBOXBASEURL" value="https://sandbox-api.flipkart.net/"/>
    <add key="LIVEBOXBASEURL" value="https://api.flipkart.net/"/>

    <!--OAUTH RESOURCE-->
    <add key="OAUTHRESOURCE" value="oauth-service/oauth/token"/>

    <!--ORDER RESOURCE-->
    <add key="ORDERRESOURCE" value="sellers/orders/search"/>
  
  </appSettings>

</configuration>
